/* GENERAL HTML*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    text-align: center;
    display: grid;
    background: linear-gradient(#000049, #393997);
  
    
}


header{
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenido{
    height: 90vh !important;
    background: url(fotoMujerConduciendo.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

}




.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: #000049;
    position: fixed;
    width: 100%;
    z-index: 100;
       
}

.head button{
    display: none;
}

.navbar{
    display: flex;
    margin-right: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
    
}

.navbar button{
    display: none;
}

.logo{
    margin-left: 5px;
}

.logo a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a{
    display: block;
    padding: 23px 20px;
    color: greenyellow;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    display: inline;
}

.navbar a:hover{
    background-color: greenyellow;
    color: #000049;
    transition: ease-in 0.2s;
    border-radius: 4px;
    font-size: 1.3em;
}



.titulo{
    margin-bottom: 40px;
    font-size: 60%;
    font-weight: 600;
    text-transform: uppercase;
}

p{
    margin-bottom: 40px;
    font-size: 18px;
}


/*PAGINA PPAL*/
.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid greenyellow;
    text-decoration: none;
    color: #000049;
    background-color: greenyellow;
    border-radius: 50px;
    
    
    
}

.btn:hover{
    background: none;
    transition: ease-in 0.2s;
    color: greenyellow;
    
}

.btn-home{
    display: flex;
}

.btn-home a{
    margin: 0 10px;
}



.textoppal{
    color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;

}

.logo{
    height: 9vh !important;
}

.cajaTitulo{
    font-size: 50px;
    margin-right: auto;
}
.cuadroQuenesSomos{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 25%;
    text-align: left;


}

.informacion{
    display: flex;
}

.permisos{
    text-align: left;
    margin: 0% 2% 2% 0%;
    border: solid greenyellow;
    border-radius: 10px;
    padding: 1% 3% 3% 3%;
    background-color: rgba(0, 0, 0, 0.6);
    
}

.permisos h1{
    font-size: 150%;
    padding-bottom: 15%;
}

.permisos ul li{
    list-style: square;
}
.cajaTitulo{
    padding-top: 1%;
}

.textoQuienesSomos{
    font-size: 50px;
    text-align: left;
    
}
.descQuienesSomos{
    white-space: normal;
    padding-right: 55%;
    padding-left: 3%;
    padding-bottom: 1%;
    
}

.nosAdaptamos{
    font-size: 380%;
    margin-top: 50px;
}

.adaptacionHorario{
    margin-top: 80px;
}

.bodyppal{
    background: linear-gradient(#000049, #393997);
    color: white;
}

.container {
    background: linear-gradient(#000049, #393997);
    background-attachment: fixed;
    display: grid;
}




.cuerpoSaberMas{
    background: url(imagenQuesito.jpeg) no-repeat center;
    height: 125vh;
    background-size: cover;
    margin-bottom: 3%;
    
    
    
}

.listaContacto{
    padding-left: 3%;
    list-style-type: none;
     
}

hr{
    border: 1px solid greenyellow;
    margin: 3% auto;
    width: 50%;
    
}



.redesSociales{
    padding: 3%
}

.listaAuto{
    padding-left: 3%;
    list-style: none;
    font-size: 130%;
}

.visitanos{
    margin-top: 5%;
}

.visitanos h1{
    font-size: 330%;
}


.piePagina{
   
    color: white;
    background: url(cochesAutoescuela.png) no-repeat center;
    background-size: 100%;
    padding-top: 5%;
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    
    
    
}


.piePagina p{
    text-align: left;
    display: flex;
    

}

.tituloPiePagina{
    text-decoration: underline;
    font-size: 130%;
    margin-right: 0%;
}

.mapa{
    display: flex;
}

.visitamos p{
    font-size: 170em;
}




.listaDatosPie{
    font-size: 110%;
    padding-bottom: 10%;
    text-align: left;
    list-style: none;
}

.columna3 ul li{
    text-align: left;
    padding-left: 10%;
}

.columna3{
    padding-right: 2%;
}

.reseñas h1{
    font-size: 150%;
}
 
/* PERMISOS */

.permisoB{
    margin-top: 3%;
    width: 47%;
    padding-left: 2%;
    
}
.permisoB h2{
    font-size: 230%;
    color: greenyellow;

}

.permisoB p{
    color: white;
    text-align: left;
    
}
.lpermisoB{
    text-decoration: none;
    color: white;
    
}
.lpermisoA2{
    text-decoration: none;
    color: white;
    
}
.lpermisoA2:hover{
    transition: ease-in 0.2s;
    color: greenyellow;
    
}
.lpermisoB:hover{
    transition: ease-in 0.2s;
    color: greenyellow;
    
}

.pruebas{
    border: solid greenyellow;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 2%;
   
}

.pruebas h2{
    font-size: 150%;
    color: greenyellow;
    padding-top: 2%;
   
}

.pruebas ol{
    text-align: left;
    color: white;
    padding-left: 7%;
    padding-bottom: 1%;
    list-style-type: decimal;
}

.pruebas ol li{
    padding-bottom: 1%;
}

.tituloA2{
    margin-top: 3%;
    font-size: 250%;
    color: greenyellow;
}

/* PAGINA DE PERMISOS */
.bodyPermisos{
    background: linear-gradient(#000049, #393997);
    margin-top: 5%;
    display: flex;
}







.generalPermisos{
    background: url(cochesMoto.png) no-repeat center;
    margin-top: 5%;
    background-attachment: fixed ;
    background-size: cover ;
    

}

.generalPermisos h1{
    padding-top: 9%;
    font-size: 250%;
    color: greenyellow;
    margin-bottom: 7%;
    text-transform: uppercase;
}

.generalPermisos h2{
    color: white;
    font-size: 200%;
   
}

.cuerpoPermisos{
    display: flex;
    margin-bottom: 10%;
}

.permisospermisoB{
    width: 45%;
    border: solid greenyellow;
    border-radius: 30px;
    margin-left: 3%;
    padding-top: 1%;
    background-color: rgba(0, 0, 0, 0.4);


}

.permisospermisoA2{
    width: 45%;
    border: solid greenyellow;
    border-radius: 30px;
    margin-left: 2%;
    padding-top: 1%;
    background-color: rgba(0, 0, 0, 0.4);

    
}
.permisospermisoB a{
    display: inline-block;
    margin-top: 0%;
    margin-bottom: 4%;
    padding: 1% 3%;
    border: 2px solid greenyellow;
    text-decoration: none;
    color: #000049;
    background-color: greenyellow;
    border-radius: 50px;
    font-size: 80%;
}

.permisospermisoB a:hover{
    background: none;
    transition: ease-in 0.2s;
    color: greenyellow;
    
}

.permisospermisoB p{
    color: white;
    text-align: left;
    padding-left: 3%;
    padding-top: 4%;
}

.permisospermisoA2 a{
    display: inline-block;
    margin-top: 0%;
    margin-bottom: 4%;
    padding: 1% 3%;
    border: 2px solid greenyellow;
    text-decoration: none;
    color: #000049;
    background-color: greenyellow;
    border-radius: 50px;
    font-size: 80%;
}

.permisospermisoA2 a:hover{
    background: none;
    transition: ease-in 0.2s;
    color: greenyellow;
    
}

.permisospermisoA2 p{
    color: white;
    text-align: left;
    padding-left: 3%;
    padding-top: 4%;
}